@media (max-width: 576px) {

  body {

    background: url(../images/appbackground1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }

  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'menu';
  }

  .menu-container {

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    align-items: center;

  }

  .calendar-container {
    position: absolute;
    left: -9999px;
  }

  .active-day {
    height: 15rem;
    border-radius: 0px;
    margin-bottom: 0rem;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.25;
    border: hidden;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%);
    background-color: transparent;

  }

  .active-day-toDo-container {
    height: 44rem;
    border-radius: 0px;
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.25;
    border-top: 3px double var(--teal-400);
    border-bottom: 3px double var(--teal-400);
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%);
    background-color: #dff0f9;
  }

  .active-day-toDo-content p {
    font-size: .8rem;
  }

  .toDo-title {
    font-size: 1.3rem;
  }

  .day-active {

    font-size: 2rem;
  }


  .button-container {

    width: 50%;
    top: 15.2rem;
    left: 1rem;

  }

  .button-container button {
    padding: .70em .70em;
    font-size: 1.4rem;
    border-color: #fdfdfb;

  }

  .button-container button img {
    float: right;
    vertical-align: middle;
    width: 30px;
  }

  .active-day-content-date {
    font-size: 10rem;
    float: left;
    position: absolute;
    top: 5rem;
    left: 2rem;
  }

  .active-day-content-clock {
    font-size: 1.5rem;
    color: #0e3486;
    font-weight: bold;
    position: absolute;
    top: 5.5rem;
    left: 28rem;
  }

  .TodoList {
    font-size: 100%;

  }

  li {

    background-color: #ffffffb9;


  }

  .header-container {
    background-size: 80vh 9.5vh;
  }



  .title {

    font-size: 2.7rem;
    text-shadow: 0 0 2px #fdfdfb, 0 0 4px #0e3486;
  }

}