@media (max-width: 768px) {

 
 

  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'menu'
      'calendar';
  }


  .menucalender-container{

    flex-direction: column;
  
  }
  
  .header-container {
    display:none !important;
  }

  .active-day {
    width: 98.5vw;
    
}

.active-day-toDo-container {
  width: 98.5vw;
  height: 46vh;
}

.active-day-content-date {
  font-size: 14vw;

}

.active-day-content-clock {
  position: absolute;
  top: 72px;
  left: 31px;
  font-size: 2vw;
}

.calendar-container {
  width: 98.5vw;
  position: absolute;
  top: 330px;
  margin-left: 0rem;
  height: 100vh;
}
  



}