@media screen and (max-width: 540px) {

  body {

    background: var(--teal-100);

  }
  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'menu'
      'calendar';
  }

  .menu-container {
    grid-area: menu; 
   width: 100vw;
    flex-direction: column;
  }

  .button-container{
    justify-content:space-evenly;
    align-items:center;
    width:100%;
  }

  .button-container button {
    
    text-align: center;
    width:45%;
  }

  .active-day-event-container {
    background-color: rgb(236, 243, 252);
    height: 8rem;
    width: 32.6rem;
  }
  

  .day-of-week>* {
    font-size: .8em;
    width: var(--calendar-button-tablet-width-size);
  }

  .date-grid button {
    width: var(--calendar-button-tablet-width-size);
    height: var(--calendar-button-tablet-hight-size);
  }

  .active-day-event-container {
    background-color: var(--teal-200);
  }


  .active-day-event-content p {
    font-size: .8rem;
  }

  .event-title {
    font-size: 1.3rem;
  }

  .day-active {

    font-size: 2rem;
  }


  .header-container {

    background-size: 768px 118px;

  }

  .title {
    color: var(--blue-grey-700);
    font-size: 3rem;
    text-shadow: 0 0 2px #fdfdfb, 0 0 4px #0e3486;
  }

}