@media (max-width: 768px) {

 


  .menucalender-container{

    flex-direction: column;
  
  }
  
  .header-container {
    display:none !important;
  }


  .menu-container {
    width: 100%;
}


.active-day-toDo-container {
  
  height: 46vh;
}

.active-day-content-date {
  font-size: 14vw;

}

.active-day-content-clock {
  position: absolute;
  top: 81px;
  left: 25px;
  font-size: 2vw;
}

.calendar-container {
  width: 98.3%;
  position: absolute;
  top: 385px;
  margin-left: 0rem;
  height: 100vh;
}
  



}